section{
    text-align: center;
    border: 2px solid black;
}
input{
    height: 20vh;
    width: 10vw;
    font-size: 5em;
    text-align: center;
    outline: none;
    border: 3px solid whitesmoke;
}
input::-webkit-inner-spin-button,input::-webkit-inner-outer-button{
    -webkit-appearance: none;
}
input:focus{
    border: 3px solid skyblue ;
}